apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "three-tier-app.fullname" . }}-api
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      containers:
      - name: api
        image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
        env:
          - name: MONGO_CONN_STR
            value: "mongodb://admin:password123@mongodb-svc:27017/todoapp?authSource=admin"
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: {{ .Values.mongodb.secretName }}
                key: username
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.mongodb.secretName }}
                key: password
        ports:
        - containerPort: {{ .Values.backend.port }}
        # --- RESOURCE LIMITS ADDED HERE ---
        resources:
          requests:
            cpu: "100m"      # 10% of a CPU core
            memory: "128Mi"
          limits:
            cpu: "200m"      # Max 20% of a CPU core
            memory: "256Mi"
        # ----------------------------------
        volumeMounts:
        - name: mongo-data
          mountPath: /data/db
      volumes:
      - name: mongo-data
        persistentVolumeClaim:
          claimName: mongo-pvc
